@model Folder

@using (Html.BeginForm("PostFolder", "Folder", FormMethod.Post))
{
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" value="@Model.Name" />

    <button type="submit">Submit</button>
}